@keyframes random {
    0% {background-color: red;}
    50% {background-color: yellow;}
    10% {background-color: red;}

}
div {
    background-color: red;
    animation-name: random;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}